# vim:  set :
[[plugins]]
repo = "Shougo/deoplete.nvim"
on_event = 'InsertEnter'
hook_source = """
set completeopt=menu ",preview
let g:deoplete#enable_at_startup = 1
call deoplete#custom#option('smart_case', v:true)
"let g:deoplete#enable_refresh_always = 1
"autocmd InsertLeave,CompleteDone * if pumvisible() == 0 | pclose | endif
"set splitbelow
"""

[[plugins]] # echo位置にドキュメントを表示させるためのもの
repo = 'Shougo/echodoc.vim'
on_event = 'InsertEnter'
hook_source = '''
let g:echodoc#enable_at_startup = 1
'''

[[plugins]] #deompleteのためのsyntax
repo = 'Shougo/neco-syntax'
on_source = ['deoplete'] #rdepends的なやつ
# on_ftにした方が良さそう


[[plugins]] # deoplete source for include headers
repo = 'Shougo/neoinclude.vim'
on_ft = ['c', 'cpp']
depends = ['deoplete.nvim']

[[plugins]]
repo = 'Shougo/neosnippet-snippets'

[[plugins]]# deoplete source & snippetter
repo = "Shougo/neosnippet.vim"
on_event = 'InsertEnter'
depends = ['neosnippet-snippets', 'deoplete.nvim']
hook_source = "call deoplete#custom#source('neosnippet','rank', 2000)"
source_add = 'call Source_rc("plugin-settings/neosnippet_source_add.vim")'
hook_add = 'call Source_rc("plugin-settings/neosnippet_hook_add.vim")'

[[plugins]]
repo = 'zchee/deoplete-zsh'
on_ft = ['zsh', 'sh']

[[plugins]]
repo = 'zchee/deoplete-jedi'
on_ft = 'python'
hook_add = '''
"let g:deoplete#sources#jedi#python_path = '/home/progrunner/.pyenv/shims/python'
let g:deoplete#sources#jedi#python_path = '/usr/bin/python3'
'''

[[plugins]]  # go completion
repo = 'zchee/deoplete-go'
build = 'make'
on_ft = 'go'
depends = ['deoplete.nvim']
hook_source = '''
let g:deoplete#sources#go#gocode_binary = $GOPATH . '/bin/gocode'
'''

#  [[plugins]]
#  repo = 'zchee/deoplete-clang'
#  hook_source = '''
#  let g:deoplete#sources#clang#libclang_path = '/usr/lib/llvm-7/lib/libclang-7.so.1'
#  let g:deoplete#sources#clang#clang_header = '/usr/lib/llvm-7/lib/clang/7.0.0/include'
#  let g:deoplete#sources#clang#sort_algo = 'priority'
#  let g:deoplete#sources#clang#clang_complete_database="./build/"
#  '''
